{% extends "base.html" %}

<!-- insert the page content here -->
{% block contenido %}

<p>

	<h3>Coche</h3>
	{% if autos %}
		<ul>
			<img src="{{ autos.marca.url_marca}}" width="75" height="35">
			<p>
			</p>
			<li>
				{{autos.marca.nombre}} {{ autos.modelo}}
			</li>
			<li>
				{{ autos.kilometros}} km. 
			</li>
			<li>
				{{ autos.anno}} 
			</li>
			<li>
				Precio: {{ autos.precio}}$
	
				<img src="{{ autos.url_coche}}" width="400" height="270">
			</li>
			<li>
				Vendedor: {{ autos.vendedor.nombre}} {{ autos.vendedor.apellido}}
				
				<p></p>
				<img src="{{ autos.vendedor.url_vendedor }}" width="120" height="150">
				
			</li>
			<!--<a href="/appcoches/{{autos.id}}/comprar/" id = "enlace"><button id = "comprar">Comprar</button></a>-->
			<a href="/appcoches/comprar/" id = "enlace"><button id = "comprar">Comprar</button></a>
		</ul>
		
	{% else %}
	<p>No hay coches a la venta.</p>
	{% endif %}
	
	</p>
{% endblock %}


