{% extends "base.html" %}

<!-- insert the page content here -->
{% block contenido %}
<p>


<h3>Comprar Coche</h3>

<form action = "" name = "formulario" method = "get">
    <label for="nombre">Nombre:</label>
    <input type = "text" id = "nombre" maxlength = "30" placeholder = "Nombre" required >
    <br>
    <label for="nombre">Apellidos:</label>
    <input type = "text" id = "apellidos" maxlength = "30" placeholder = "Apellidos" required >
    <br>
    <label for="nombre">Direccion:</label>
    <input type = "text" id = "direccion" maxlength = "100" placeholder = "Direccion" required >
    <br>

   <label for="ccn">Numero de Tarjeta:</label>
    <input id="ccn" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx" required>
   <br>
   <label for="cad">Fecha de Caducidad:</label>
    <input id="cad" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="5" placeholder="xx/xx" required>
    <br>
    <label for="cvv">CVV:</label>
    <input id="cvv" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="3" placeholder="xxx" required>
    <br>


    <input type = "checkbox" name = "terminos" id = "terminos" required> Terminos y condiciones
    <br>

    <input type = "submit" id = "compr" name = "btn" value = "Comprar">
    
   
</form>

</p>
{% endblock %}