{% extends "base.html" %}

<!-- insert the page content here -->
{% block contenido %}

<p>
	
	<h3>Coches de la marca {{marca}}</h3>
    {% if lista_cochesmarca %}
        <ul>
        {% for d in lista_cochesmarca%}
            <img src="{{ d.url_coche}}" alt="Girl in a jacket" width="200'" height="135"></a> 	
            <br>
            <a href="/appcoches/auto/{{d.id}}">{{d.marca.nombre}} {{ d.modelo}}</a>
			{% if d.oferta == True %}
				<a href="/appcoches/auto/{{d.id}}">{{ d.precio_oferta}}$</a>
			{% else %}
				<a href="/appcoches/auto/{{d.id}}">{{ d.precio}}$</a>
			{% endif %}
            <br>
        {% endfor %}
        </ul>
    {% else %}
    <p>No hay departamentos creados.</p>
    {% endif %}
	
</p>
	{% endblock %}